.posts{
  min-height: 50px;
  padding-left: 50px;
  padding-top: 25px;
  margin: 1.2rem 0;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 20px 0px rgb(0 0 0 / 12%);
  list-style: none;
  font-size: x-large;
}
.comments{
  color: grey;
  text-shadow: darkslategrey;
  font-size: 20px;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
}
.button{
  height: 50px;
  width: 210px;
  padding: 10px 10px;
  text-align: center;
  color: #000000;
  margin: 2px 2px;
  background-color:lightgrey;
  font-size: 19px;
  opacity: 0.6;
  transition: 0.3ms;
}
.button:hover {
  opacity: 1
}
.newButton{
box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
  0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 20px 0px rgb(0 0 0 / 12%);
  font-size: 15px;
  color: black;
  opacity: 0.6;
  transition: 0.3ms;
}
.newButton :hover{
  opacity: 1
}
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}